{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        
        {{ form_row(registrationForm.is_trad) }}
        
        <div id="languages-container" style="display: none;">
            <div class="row">
                {% for child in registrationForm.languages %}
                    <div class="col-md-3">
                        {{ form_row(child) }}
                    </div>
                    {% if loop.index % 4 == 0 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {{ form_end(registrationForm) }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var isTradCheckbox = document.getElementById('{{ registrationForm.is_trad.vars.id }}');
            var languagesContainer = document.getElementById('languages-container');

            function toggleLanguages() {
                if (isTradCheckbox.checked) {
                    languagesContainer.style.display = 'block';
                } else {
                    languagesContainer.style.display = 'none';
                }
            }

            // Initialize display based on the current state of the checkbox
            toggleLanguages();

            // Add event listener for changes
            isTradCheckbox.addEventListener('change', toggleLanguages);
        });
    </script>
{% endblock %}

